<template name="header">
	<header>
		<h1 class="center-align">My Todo List</h1>
	</header>
</template>

<template name="form">
	<form class="add-new-task">
		<div class="input-field">
			<input/>
		</div>
		<button class="waves-effect waves-light btn">Submit</button>
	</form>
</template>

<template name="todos">
	<ul>
		{{#each todoList}}
		<li>{{this.name}}</li>
		{{/each}}
	</ul>
</template>